---
import NextButton from '../components/buttons/NextButton.astro';

interface Props {
	act: number,
	label: string,
    step:string
}

let { act, label, step } = Astro.props;
act = Number(act)
let actPos = act - 1
const acts = ["I", "II", "III", "IV"]
let actImg
let actLabel
if(act > 4) {
    actLabel = "Epilogue"
    actImg = `act-title-epilogue-img.png` 
}else{
    actLabel = "Act " + acts[act-1]
    actImg = `act-title-${acts[act-1]}-img.png` 
}
let selected = ""
// , "Epilogue"
---
<div class="act-title-wrapper">
    <div class="act-title-menu">
        <div class="act-title-title">{actLabel}</div>
        <div class="act-title-step-menu">
            {
                acts.map((currentAct, index) => {
                    if(index < actPos) {
                        selected = "act-previous"
                    }else if(index == actPos) {
                        selected = "act-selected"
                    }else{
                        selected = ""
                    }

                    return (
                        <div class=`act ${selected}` id=`act-${(index+1)}`></div>
                    )
                })
            }
            
        </div>
    </div>
    <div class="act-title-label">
        {label}
    </div>
    <div class="act-title-img">
        <img src=`./imgs/acts/titles/${actImg}`>
    </div>
    <div class="act-title-button">
        <NextButton step={step}/>
    </div>
</div>
<script define:vars={{ step }}>

    const nextButton = document.getElementById(`next-button-${step}`)
    nextButton.onmousedown = function(event) { //asign a function
        onClickNext(event)
    }
        
    nextButton.addEventListener('touchstart', function(event){
        event.preventDefault();
        onClickNext(event.touches[0])
    }, false); 

    function onClickNext(event) {
        console.log("on click next " + step)
        window.controller.showContent(Number(step) + 1)
    }

</script>
<style>

    .act-title-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;;
        color:#054696;
        text-align: center;
        font-size: 18px;
        /*margin:20px 0px;*/
        font-family: 'Roboto', sans-serif;
    }

    .act-title-menu {
        display: flex;
        flex-direction: column;
    }

    .act-title-title {
        text-align: center;
        font-weight: bold;
        margin:40px 0px 20px 0px;
    }

    .act-title-step-menu {
        display: flex;
        flex-direction: row;
        gap:10px;
        width: 75%;
        margin:0 auto;
    }

    .act {
        flex-grow: 1;
        height: 10px;
        background-color: #CEDFE5;
    }

    .act-selected {
        background-color: #054696;
    }

    .act-previous {
        background-color: #6FDB8F;
    }

    .act-title-label {
        font-size: 35px;
        font-weight: bold;
        margin: 30px auto 30px auto;
        width: 70%;
    }

    .act-title-img img{
       width:100%;
    }

    .act-title-button{
        align-self: center;
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
    }

    @media (max-width: 400px) {

        .act-title-title {
            margin: 20px 0px 20px 0px;
        }
        .act-title-label {
            font-size: 28px;
            margin:20px auto;
            width: 65%;
        }
    }

</style>