---
import NextButton from '../components/buttons/NextButton.astro';
import QuestionHeader from '../components/QuestionHeader.astro';
import Avatar from '../components/avatar/Avatar.astro';
interface Props {
	step: string;
}

const { step } = Astro.props;
---
<div class=`holder-business`>
    <QuestionHeader character="sarah">
        <p class="first-paragraph"><strong>Let's test your business knowledge.</strong> Only one answer is correct!</p>
    </QuestionHeader>
    <div class="answers">
        <div class="business-titles">
            <div class="business-title" id="title-plan"><p>BUSINESS</p><p>PLAN</p></div>
            <div class="title-separation"></div>
            <div class="business-title" id="title-model"><p>BUSINESS</p><p>MODEL CANVAS</p></div>
        </div>
        <div class="answers-buttons">
            <a  class=`btn-step-${step}-option business-answer-button` href="#" id=`step-${step}-answer-button-1`>
                <div class="answer-text">Visual chart</div>
                <div class="separation"></div>
                <div class="answer-text">Written document</div>
                <img class="answer-correct-icon" src="./imgs/companies/correct.png"></img>
                <img class="answer-incorrect-icon" src="./imgs/companies/incorrect.png"></img>
            </a>
            <a class=`btn-step-${step}-option business-answer-button` href="#" id=`step-${step}-answer-button-2`>
                <div class="answer-text">Written document</div>
                <div class="separation"></div>
                <div class="answer-text">Visual chart</div>
                <img class="answer-correct-icon" src="./imgs/companies/correct.png"></img>
                <img class="answer-incorrect-icon" src="./imgs/companies/incorrect.png"></img>
            </a>
            <a class=`btn-step-${step}-option business-answer-button` href="#" id=`step-${step}-answer-button-3`>
                <div class="answer-text">Start-ups only</div>
                <div class="separation"></div>
                <div class="answer-text">All business</div>
                <img class="answer-correct-icon" src="./imgs/companies/correct.png"></img>
                <img class="answer-incorrect-icon" src="./imgs/companies/incorrect.png"></img>
            </a>
            <a class=`btn-step-${step}-option business-answer-button` href="#" id=`step-${step}-answer-button-4`>
                <div class="answer-text">Small businesses</div>
                <div class="separation"></div>
                <div class="answer-text">Large corporations</div>
                <img class="answer-correct-icon" src="./imgs/companies/correct.png"></img>
                <img class="answer-incorrect-icon" src="./imgs/companies/incorrect.png"></img>
            </a>
        </div>
        <div class="business-result">
            <p class="business-result-points">+10</p>
            <p><span>points</span></p>
        </div>
    </div>
    <NextButton step={step}/>
</div>
<style >

    .business-result {
        position: absolute;
        left: 33%;
        top: 65%;
        background-color: #CEDFE5;
        padding: 10px 20px;
        font-size: 38px;
        font-weight: bold;
        border-radius: 8px;
        opacity: 0;
        pointer-events: none;
    }

    .business-result span {
        font-size: 20px;
    }

    .business-result p {
        margin: 0;
        padding: 0;
    }

    .business-result p:last-child {
        margin-top:-20px;
    }

    .answer-correct-icon {
        position: absolute;
        left: 97%;
        top: 6px;
        opacity: 0;
        width: 45px;
    }

    .answer-incorrect-icon {
        position: absolute;
        left:97%;
        top:6px;
        opacity: 0;
        width: 45px;
    }

    .holder-business {
        --text-blue:#14519C; 
        --color-blue:#054696;
        color:var(--color-blue);
        text-align: center;
        font-size: 16px;
        margin: 10px 40px 0px 40px;
        font-family: 'Roboto', sans-serif;
        overflow: visible;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .business-titles {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        justify-items: center;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .business-title {
        /*width: 37%;*/
    }

    /*
    

    #title-model{
        width: 40%;
    }
    */
    
    .answers {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        gap:20px;
    }

    .answers-buttons {
        display:flex;
        flex-direction: column;
        gap: 20px;
    }

    .business-answer-button {
        border:3px solid var(--color-blue);
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        justify-items: center;
        padding: 10px 10px;
        text-decoration: none;
        color:var(--color-blue);
        position: relative;
    }

    .answer-text {
        display: flex;
        padding: 10px;
    }

    .separation {
        border-right:2px solid rgba(5, 70, 150, 0.35);
    }

    .btn-step-option-selected {
        background-color: var(--color-blue);
        color:white;
    }

    .btn-step-option-selected .separation{
        border-right:2px solid rgba(255, 255, 255, 0.35);
    }

    .btn-step-option-correct {
        background-color: #1CAD4B;
        border-color:#1CAD4B;
        color:white;
    }

    .btn-step-option-correct .separation{
        border-right:2px solid rgba(255, 255, 255, 0.35);
    }

    #title-plan {
        margin: 0 0px;
    }

    /*
    .answers-group {
        display:flex;
        flex-direction: row;
        gap: 50px;
    }

    .answer {
        border-radius:8px;
        background-color: #E5EAF0;
        border:4px solid #E5EAF0;
        padding:10px;
        width: 100px;
        transition: all 1s ease-out;
    }
	
    .btn-step-option-selected {
        border:4px solid #FF8000;
        background-color: #FFE8B8;
    }

    .answer-description {
        border:1px solid #15519D;
        border-radius:8px;
        padding:10px 10px;
        margin:30px 10px 30px 10px;
    }
    */

    @media (max-width: 500px) {
        .holder-business {
            font-size: 13px;
        }

        .business-titles {
            font-size: 16px;
        }

        .business-title {
            width: 100%;
        }

        .business-answer-button {
            padding: 5px 10px;
        }

        #title-plan {
            margin: 0 0px;
        }

        .answers {
            margin-bottom: 10px;
        }

        .answer-correct-icon {
            left: 94%;
            width: 36px;
            top: 9%;
        }

        .answer-incorrect-icon {
            left: 94%;
            width: 36px;
            top: 9%;
        }

    }

</style>