---
import NextButton from '../components/buttons/NextButton.astro';
import QuestionHeader from '../components/QuestionHeader.astro';
import Punctuation from '../components/Punctuation.astro';

interface Props {
	step: string;
}

const { step } = Astro.props;
const timersURL = [
    "watch-timer-1.png",
    "watch-timer-2.png",
    "watch-timer-3.png",
    "watch-timer-4.png",
    "watch-timer-5.png",
    "watch-timer-6.png",
    "watch-timer-7.png",
    "watch-timer-8.png",
]
---
<div class=`holder-elevator-pitch`>
   
    <div class="info">
        <div class=`title-step-${step}`>
            <QuestionHeader character="alex">
                You’ll have to explain this project, short and clearly,<br>with an <strong>elevator pitch!</strong>
            </QuestionHeader>   
        </div>
    </div>
    <div class="elevator-intro-text">
		<p class="elevator-first-sentence">The elevator pitch conveys the core information about your business, but…<br>
            <strong>How long should it be?</strong>
        </p>
	</div>
    <div class="watch">
        <a href="#" class="watch-anchor">
            <!--<img id="watch-image" src="./imgs/elevator-pitch/watch-test.png"> -->
            <img id="watch-image" src="./imgs/elevator-pitch/watch.png">
            <div id="watch-images-container">
                <img class="watch-timer-static" id="watch-timer-upper" src="./imgs/elevator-pitch/watch-over.png" />
            {
                timersURL.map((timer, index) => (
                    <img class="watch-timer" id={`watch-timer-${index}`} src={`./imgs/elevator-pitch/${timer}`} />
                ))
            }
            

            </div>
        </a>
        <img id="watch-center-piece" src="./imgs/elevator-pitch/watch-center-piece.png">
        <div class="time-selected-text"> 30''</div>
        
    </div>
    <Punctuation step={step}/>
    <NextButton step={step}/>
</div>
<style >

    .holder-elevator-pitch {
        --text-blue:#14519C; 
        --color-blue:#044596;
        color:darkblue;
        text-align: center;
        font-size: 14px;
        margin:0px 20px;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
       
    }

    .elevator-intro-text p{
        margin:0;
    }

    

    .elevator-first-sentence{
        color:#054696;
        text-align: left;
        margin:0px 40px 10px 20px !important;
    }

    .second-sentence{
        font-size:16px;
    }

    .watch {
        margin: 0px 0px;
        margin-bottom: 30px;
        position: relative;
    }

    .watch-anchor {
        display:block;
    }

    .time-selected-text {
        position: absolute;
        top: 34%;
        left: 0%;
        color: #054696;
        font-size: 20px;
        width: 100%;
        text-align: center;     
        font-weight: bold;  
        z-index:3;   
        pointer-events: none;

    }

    #watch-center-piece {
        position: absolute;
        top: calc(50% - 9px);
        left: calc(50% - 7px);
        z-index:2;
    }

    .watch-timer{
        position: absolute;
        top: 0px;
        left: 0px;
        opacity:0;
        z-index:1;
        pointer-events: none;
    }

    .watch-timer-static {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity:0;
        pointer-events: none;
    }

    #watch-timer-upper {
        opacity: 1 !important;
        z-index: 100;
    }

    #watch-images-container {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    #test {
        opacity: 1 !important;
        width: 5px;
        z-index: 100;
    }

</style>