---
import NextButton from '../components/buttons/NextButton.astro';
import { imageURL } from '../../public/scripts/helpers/ImageURL';

interface Props {
	step: string;
}

const { step } = Astro.props;
const baseURL = import.meta.env.PUBLIC_URL
const array = new Array(6)
array.push(50)
array.push(50)
array.push(65)
array.push(65)
array.push(50)
array.push(50)
let idx = 0

const datamonitoringURL = imageURL("imgs/flow-diagram/datamonitoring.png") 
const imagerecognitionURL = imageURL("imgs/flow-diagram/imagerecognition.png")
const predictiveanalysisURL = imageURL("imgs/flow-diagram/predictiveanalysis.png")
const realtimealertURL = imageURL("imgs/flow-diagram/realtimealert.png")


---
<div class=`draggable-holder`>
    <h1>Welcome <span class="user-name">Iñaki</span> and <span class="name">Ariana</span>! You two now have to design how the basic <strong>functioning of AI:</strong></h1>
    <div class="dropzone-content">
        {
            
            array.map((data, i) => {
                idx++
                return(<svg class="lines" id=`line-${idx}` width=`${data}px` height="5px" version="1.1">
                    <path id=`path-${idx}` fill="transparent" stroke="#044596" stroke-width="5" d=`M0,0,${data},0` class="path" data-astro-cid-ugx7r32e=""></path>
                </svg>)
            })
        }

        <img id="wedge-1" class="wedge" src="./imgs/flow-diagram/wedge.png">
        <img id="wedge-2" class="wedge" src="./imgs/flow-diagram/wedge.png">
        <div>
            <div id="dropzone-predictiveanalysis" class="dropzone"></div>
            
        </div>
        <div class="dropzone-row-zone">
            <div id="dropzone-datamonitoring" class="dropzone"></div>
            <div id="dropzone-imagerecognition" class="dropzone"></div>
        </div>
        <div>
            <div id="dropzone-realtimealert" class="dropzone"></div>
        </div>
    </div>
    <div class="multi-zone">
        <div class="draggable-zone">
            <div id="realtimealert" class="draggable-item noselect">Real-time alerts</div>
            <div id="datamonitoring" class="draggable-item noselect">Data monitoring</div>
            <div id="predictiveanalysis" class="draggable-item noselect">Predictive analysis</div>
            <div id="imagerecognition" class="draggable-item noselect">Image recognition</div>
            <div id="draggable-content-correct" class="draggable-content-final">
                <img src="./imgs/correct.png">
                <div>The <strong>flow diagaram of this AI model</strong> is:</div>
                <div><span class="correct-color">APPROVED!</span></div>
            </div>
            <div id="draggable-content-incorrect" class="draggable-content-final">
                <img src="./imgs/incorrect.png">
                <div>The flow diagaram of this AI model <span class="alternate-color">has issues</span>:</div>
                <div><strong>Please review it before is approved!</strong></div>
            </div>
        </div>
    </div>
    <NextButton step={step}/>
    
</div>
<style define:vars={{ datamonitoringURL, imagerecognitionURL, predictiveanalysisURL, realtimealertURL}}>
    .draggable-holder {
        /*position:absolute;*/
        color:darkblue;
        text-align: center;
        font-size: 13px;
        margin:10px 20px;
        font-family: 'Roboto', sans-serif;
        --item-width: 0px; /* 130*/ /* 183 */
        --item-height: 40px;
        --color-blue:#054696;
        --marginVertical:calc(5 * 3);
    }

    .draggable-holder h1 {
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 400;
    }

    .dropzone {
        vertical-align: middle;
        display: inline-block;
        height: 100%;
        width: var(--item-width);
        height: var(--item-height);
        line-height: var(--item-height);
        border:2px grey;
        border-style: dashed;
        border-radius:8px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .dropzone-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:40px;
        margin-bottom: 30px;
    }

    .dropzone-row-zone {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .multi-zone {
        margin-bottom: 15px;
    }

    .draggable-zone {
        margin-top:15px;
        display: grid;
        border-radius: 8px;
        background-color: #E7EFF2;
        height: 118px;
    }

    .draggable-zone-hidden {
        background: none;
    }

    .draggable-item {
        vertical-align: middle;
        position: absolute;
        top:0px;
        left:0px;
        width:var(--item-width);
        height:var(--item-height);
        line-height:var(--item-height);
        border-radius: 8px;
        border:2px solid var(--color-blue);
        background-color: white;        
    }

    .draggable-zone .correct{
        background-color: var(--color-blue); 
        color:white;
    }

    .draggable-zone .incorrect{
        border-color: var(--color-alternate)  !important; 
        color:var(--color-alternate) !important;
    }

    .alternate-color {
        color: var(--color-alternate);
    }

    .correct-color {
        color: var(--color-correct);
    }

    .draggable-content-final{
        position: relative;
        top:0px;
        left:0px;
        display: none;
    }

    .draggable-content-final > img{
        margin-bottom: 25px;
    }
	
    .lines {
        position: absolute;
        top:0;
        left:0;        
    }

    .wedge {
        position: absolute;
        top:0;
        left:0;   
    }

    #dropzone-predictiveanalysis {
        background-image: var(--predictiveanalysisURL);
    }

    #dropzone-datamonitoring {
        background-image: var(--datamonitoringURL);
    }

    #dropzone-imagerecognition{
        background-image: var(--imagerecognitionURL);
    }
    
    #dropzone-realtimealert{
        background-image: var(--predictiveanalysisURL);

    }
    

</style>