---
import NextButton from '../components/buttons/NextButton.astro';
import Punctuation from '../components/Punctuation.astro';

interface Props {
	step: string;
}
import { imageURL } from '../../public/scripts/helpers/ImageURL';
import QuestionHeader from '../components/QuestionHeader.astro';

const baseURL = import.meta.env.PUBLIC_URL

const companiesBorderURL = imageURL("imgs/companies/border/companies-border.png") //"url(" + baseURL + "/imgs/companies/border/companies-border.png)"
const companiesBorderHorizontalURL =  imageURL("imgs/companies/border/companies-border-horizontal.png")

const { step } = Astro.props;
const items = [
    {
        id:"company-1",
        src:"./imgs/companies/company-1.png",
        isGood:true,
        isWHU:true,
        label:"audibene"
    },
    {
        id:"company-2",
        src:"./imgs/companies/company-2.png",
        isGood:true,
        isWHU:false,
        label:"Slack"
    },
    {
        id:"company-3",
        src:"./imgs/companies/company-3.png",
        isGood:true,
        isWHU:true,
        label:"HelloFresh"
    },
    {
        id:"company-4",
        src:"./imgs/companies/company-4.png",
        isGood:true,
        isWHU:false,
        label:"Salesforce"
    },
    {
        id:"company-5",
        src:"./imgs/companies/company-5.png",
        isGood:true,
        isWHU:true,
        label:"KitchenStories"
    },
    {
        id:"company-6",
        src:"./imgs/companies/company-6.png",
        isGood:true,
        isWHU:true,
        label:"Zalando"
    },
    {
        id:"company-7",
        src:"./imgs/companies/company-7.png",
        isGood:true,
        isWHU:true,
        label:"Home24"
    },
    {
        id:"company-8",
        src:"./imgs/companies/company-8.png",
        isGood:true,
        isWHU:false,
        label:"SAP"
    },
    {
        id:"company-9",
        src:"./imgs/companies/company-9.png",
        isGood:true,
        isWHU:true,
        label:"Flixbus"
    },
]
---
<div class=`content-holder`>
    <div class="info">
        <div class=`title-step-${step}`>
            <QuestionHeader character="sarah">
                RSAI now stands together with other 6 successful companies <br><strong>founded by WHU alumni.</strong><br>Can you guess them?
            </QuestionHeader>   
        </div>
        <div class=`score-step-${step}`>
            <p>You guessed correctly</p>
            <h1><span class="score-result">6/6</span><span class="score-whu-alumni">WHU alumni</span></h1>
        </div>
        
    </div>
    <div class="companies-grid">
        {items.map((item, i) => {
            const classWHU = !item.isWHU ? "not-whu-alumni" : "";
            let divWHU = ""
            
            return(
            <div class="company-holder">
                <div class=`company-item btn-multsel-step-${step}-option ${classWHU}` id=`btn-step-${step}-option-${i+1}`>
                    <div class="image-wrapper">
                        <img src={item.src}>
                    </div>
                    <div class="item-text-wrapper">
                        {<div class=`item-label company-label`>{item.label}</div>}
                    </div>
                    
                    <img id=`startup-option-${i+1}-correct` class="company-result-image company-correct-image" src="./imgs/companies/correct.png">
                    <img id=`startup-option-${i+1}-incorrect` class="company-result-image company-incorrect-image"src="./imgs/companies/incorrect.png">
                </div>    
            </div>
            
        )})}
        
    </div>
    <Punctuation step={step}/>
    <NextButton step={step}/>
    
</div>
<style define:vars={{ companiesBorderURL, companiesBorderHorizontalURL}}>

    .company-result-image{
        width: 40px;
        position:absolute;
        top: 61%;
        left: 72%;
        transition: all .5s;
        opacity: 0;
    }

    .content-holder {
        position:relative;
        --text-blue:#14519C;
        color:darkblue;
        text-align: center;
        font-size: 14px;
        margin:0px 10px;
        font-family: 'Roboto', sans-serif;
    }

    .info {
        position: relative;
        height: 170px;
        margin-top: 20px;
    }

    .first-paragraph {
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .title-step-1{
        position: absolute;        
    }

    .result-step-1{
        position: absolute;   
    }

    h1 {
        font-size: 15px;
        font-weight: 400;
    }

    .companies-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 5px;
        width: 90%;
        margin: 0 auto;
    }

    .company-item{
        background-image: var(--companiesBorderURL);
        background-repeat: repeat-y;
        background-position-x: right;
        padding: 13px 8px 20px 8px;
        position: relative;
    }

    .company-item-final {
        background:none !important;
    }

    .company-holder-final::after {
        background-image: none !important;
    }

    .company-label{
        margin-top: -20px;
        text-align: center;
        /*width: 25%;*/
        font-size: 14px;
        color:var(--text-blue);        
    }

    .whu-alumni {
        text-align: center;
        font-size: 14px;
        color:white;
        padding:5px 10px;
        background-color:var(--text-blue);
        
        font-size: 12px;
        border-radius: 4px;
    }

    .not-whu-alumni {
        color: #999999 !important
    }


    .show-label {
        display: block;
        opacity: 0;
    }

    .hide-label {
        display: none;
        opacity: 0;
    }

    .company-holder:nth-child(3n) > .company-item {
        background:none !important;
    }

    .company-holder::after { /* .item */
        background-image: var(--companiesBorderHorizontalURL); 
        width: 100%;
        content: "";
        display: block;
        background-repeat: repeat;
        height: 2px;
    }

    /* selector para items # 7, 8 y 9 inclusives */
    .company-holder:nth-child(n+7):nth-child(-n+9)::after {
        background:none !important;
    }

    .btn-step-option-selected .image-wrapper {
        background-color: #EBF1F3;
        border: 5px solid #789BC4 !important;
    }

    .item-text-wrapper {
        position: absolute;
        top: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-left: -8px;
    }


    .image-wrapper {
        border: 5px solid white;
        border-radius: 20px;
        background-color: white;
        height: 100%;
        padding: 15px 10px;
    }

    .image-wrapper img{
        width: 100%; /* Make the image fill the available space */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Remove any extra spacing around images */
        margin: 0 auto;
    }
    
    .button-enabled {
        opacity: 1;
    }

    .button-disabled {
        opacity: .25;
    }

    .score-result {
        color:#054696;
        background-color: #D2EFDB;
        padding:5px;
    }

    .score-whu-alumni {
        color:white;
        background-color: #054696;
        padding:5px;
        margin-left: 5px;
        border-radius: 2px;
    }

    .option-correct {
        border-color:#8DD6A5;
    }

    .option-incorrect{
        border-color:#FEADB4;
    }

    .item-label {
        transition:all .5s ease-out;
    }

    

    @media (max-width: 500px) {

        .info {
            height: 120px;
        }

        .first-paragraph {
            margin-bottom: 10px;
        }

        .company-item {
            padding: 6px 8px 15px 8px;
        }

        .image-wrapper {
            margin-bottom: 8px;
            width: 85%;
            margin-left: 8px;
        }

        .company-result-image{
            width: 28px;
        }
    }

</style>