---
import NextButton from '../components/buttons/NextButton.astro';
import QuestionHeader from '../components/QuestionHeader.astro';
import Avatar from '../components/avatar/Avatar.astro';
import Punctuation from '../components/Punctuation.astro';
interface Props {
	step: string;
}

const { step } = Astro.props;
---
<div class=`holder-why-enterpreneur`>
    <QuestionHeader character="sarah">
        <p><strong>WHY</strong> do you want to</p>
        <p>become an <strong>entepreneur?</strong></p>
    </QuestionHeader>
    <div class="answers">
        <div class="answers-group">
            <a class=`btn-step-${step}-option answer answer-selected` id=`step-${step}-answer-button-1` href="#">
                <img id=`step-${step}-button-1-image-inactive` src="./imgs/why-enterpreneur/option-1.png">
                <img class="active-image" id=`step-${step}-button-1-image-active` src="./imgs/why-enterpreneur/option-1-active.png">
            </a>
            <a class=`btn-step-${step}-option answer` id=`step-${step}-answer-button-2` href="#">
                <img id=`step-${step}-button-2-image-inactive` src="./imgs/why-enterpreneur/option-2.png">
                <img class="active-image" id=`step-${step}-button-2-image-active` src="./imgs/why-enterpreneur/option-2-active.png">
            </a>
        </div>
        <div id="avatar">
            <!--<img src="./imgs/why-enterpreneur/avatar-test.png">-->
            <Avatar step={step} hasText={false} width={185} hasShadow={false}/>
        </div>
        <div class="answers-group">
            <a class=`btn-step-${step}-option answer` id=`step-${step}-answer-button-3` href="#">
                <img id=`step-${step}-button-3-image-inactive` src="./imgs/why-enterpreneur/option-3.png">
                <img class="active-image" id=`step-${step}-button-3-image-active` src="./imgs/why-enterpreneur/option-3-active.png">
            </a>
            <a class=`btn-step-${step}-option answer` id=`step-${step}-answer-button-4` href="#">
                <img id=`step-${step}-button-4-image-inactive` src="./imgs/why-enterpreneur/option-4.png">
                <img class="active-image" id=`step-${step}-button-4-image-active` src="./imgs/why-enterpreneur/option-4-active.png">
            </a>
        </div>
        <div id="answer-correct-icon"><img width="40px" src="./imgs/correct.png"></div>
        
    </div>
    <div class="answer-description">
        To solve an existing problem in the market
    </div>
    <Punctuation step={step}/>
    <NextButton step={step}/>
</div>
<style >

    .holder-why-enterpreneur {
        --text-blue:#14519C; 
        --color-blue:#044596;
        color:var(--color-blue);
        text-align: center;
        font-size: 14px;
        margin:20px 10px;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        gap:6px;
       
    }

    .active-image {
        opacity: 0;
    }
    
    .answers {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        gap:10px;
        margin-bottom: 40px;
    }

    .answers-group {
        display:flex;
        flex-direction: row;
        gap: 15px;
    }

    .answer {
        border-radius:8px;
        background-color: #E5EAF0;
        border:4px solid #E5EAF0;
        width: 180px;
        height: 111px;
        transition: all .250s ease-out;
        position: relative;
    }

    .answer img {
        width: 180px;
        position: absolute;
        top:0px;
        left:0px;
        z-index: 0;
    }
	
    .btn-step-option-selected {
        border:4px solid #FF8000;
        background-color: #FFE8B8;
    }

    #avatar {
        width: 100%;
        height: 25px;
        position: relative;
    }

    #avatar img {
        margin-top: -60px;
        pointer-events: none;
    }

    .answer-description {
        border:2px solid #15519D;
        font-size: 18px;
        border-radius:8px;
        padding:10px 10px;
        margin:50px 20px 30px 20px;
        opacity: 0;
    }

    #answer-correct-icon{
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
    }

    .business-result{
        left:39%;
    }   


    @media (max-width: 500px) {
        .business-result{
        
        }

        .answer {
            width: 150px;
            height: 90px;
        }

        .answers {
            margin-bottom: 20px;
        }
        
        .answer img {
            width: 150px;
            
        }

        #avatar {
            height: 0px;
        }

        .answer-description {
            margin:30px 20px 6px 20px;
        }
    }

</style>