---
import NextButton from '../components/buttons/NextButton.astro';
import Avatar from '../components/avatar/Avatar.astro';
interface Props {
	step: string;
}

const { step } = Astro.props;
---
<div class=`holder-why-enterpreneur`>
    <div class="why-intro-text">
        <div class="why-intro-data">
            <div class="why-intro-title">
                <p><strong>WHY</strong> do you want</p>
                <p>to become an <strong>entepreneur?</strong></p>
            </div>
            <div class="why-intro-image">
                <img src="./imgs/characters/sarah.png">                
            </div>
        </div>
        <div class="why-intro-separation"></div>
	</div>
    <div class="answers">
        <div class="answers-group">
            <a class=`btn-step-${step}-option answer answer-selected` id=`step-${step}-answer-button-1` href="#"><img src="./imgs/why-enterpreneur/option-1.png"></a>
            <a class=`btn-step-${step}-option answer` id=`step-${step}-answer-button-2` href="#"><img src="./imgs/why-enterpreneur/option-2.png"></a>
        </div>
        <div id="avatar">
            <!--<img src="./imgs/why-enterpreneur/avatar-test.png">-->
            <Avatar step={step}/>
        </div>
        <div class="answers-group">
            <a class=`btn-step-${step}-option answer` id=`step-${step}-answer-button-3` href="#"><img src="./imgs/why-enterpreneur/option-3.png"></a>
            <a class=`btn-step-${step}-option answer` id=`step-${step}-answer-button-4` href="#"><img src="./imgs/why-enterpreneur/option-4.png"></a>
        </div>
        <div id="answer-correct-icon"><img src="./imgs/correct.png"></div>
        
    </div>
    <div class="answer-description">
        To solve an existing problem in the market
    </div>
    <NextButton step={step}/>
</div>
<style >

    .holder-why-enterpreneur {
        --text-blue:#14519C; 
        --color-blue:#044596;
        color:darkblue;
        text-align: center;
        font-size: 14px;
        margin:20px 10px;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
       
    }

    .why-intro-separation {
        width: 100%;
        height: 5px;
        background-color: #82A2CA;
    }

    .why-intro-image img{
        height: 140px;
    }

    .why-intro-text p{
        text-align: left;
        margin:0;
        font-size:20px;
    }

    .why-intro-data {
        display: flex;
        align-items: center;
    }

    .why-intro-title {
        flex-grow: 1;
    }

    .why-intro-text{
        padding-bottom: 20px;
        width: 90%;
        margin: 0 auto;
    }
    
    .answers {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        gap:10px;
    }

    .answers-group {
        display:flex;
        flex-direction: row;
        gap: 50px;
    }

    .answer {
        border-radius:8px;
        background-color: #E5EAF0;
        border:4px solid #E5EAF0;
        padding:10px;
        width: 100px;
        transition: all 1s ease-out;
    }
	
    .btn-step-option-selected {
        border:4px solid #FFDC93;
        background-color: #FFF2D8;
    }

    #avatar {
        width: 100%;
        height: 50px;
        position: relative;
    }

    #avatar img {
        margin-top: -60px;
        pointer-events: none;
    }

    .answer-description {
        border:1px solid #15519D;
        border-radius:8px;
        padding:10px 10px;
        margin:30px 10px 30px 10px;
    }

    #answer-correct-icon{
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
    }

</style>