---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	step: string,
	act: string,
}

const { step, act } = Astro.props;

const extraStep = (step == "1")? "stepOrange" : ""
const notFirst = (step !== "0")
const stepNum = Number(step)
const isTravel = (step == "3") ? true: false

---
<script>
    const headerHeight = 65
    const footerHeight = 35
    const marginLateral= 0
    const rect = document.querySelector(".step").getBoundingClientRect()
    const stepHeight = rect.height
    const stepWidth = rect.width

    // change .step-content height based on stepHeight
    document.querySelectorAll(".step-content").forEach(element => {
        const height = (stepHeight - headerHeight - footerHeight)
        const width = (stepWidth - marginLateral - marginLateral)
        element.style.width = `${width}px`
        element.style.height = `${height}px`
    });

</script>
<div class=`step` id=`step-${step}` class:list={[{ bgTravel: isTravel }]}>
    
    <div class="step-header">
        <!--<Header step={step} act={act}/>-->
    </div>
    <div class="step-content">
        <slot />
    </div>
    <div class="step-footer">
        <Footer>
    </div>
</div>
<style>

    .step {
        display: grid;
        grid-template-areas: 
        'header'
        'content'
        'footer';
        grid-template-rows: 65px auto 35px;
    }

    .bgTravel {
        background-color: #BFE8F6;
    }

    .step-header{
        grid-area: header;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .step-content{
        grid-area: content;
        /*width: 100%;*/
        max-height: 500px; /* Esto ha de cambiar de forma dinámica */
        
    }

    .step-footer{
        grid-area: footer;
        width: 100%;
    }

	.button{
        
    }
	
</style>